html, body {
  height: 100vh;
  width: 100vw;
}

body {
  background-image: linear-gradient(60deg, white, gray);
}

#gameName {
  max-width: fit-content;
  font-size: 50px;
}

#gameText {
  max-width: fit-content;
  font-size: 35px;
  color: red;
}

/* #player1 {
  float: left;
} */

/* #xWins {
  float: left;
  margin-left: 10px;
} */

/* #player2 {
  float: left;
  margin-top: 50px;
} */

/* #oWins {
  float: left;
  margin-top: 50px;
  margin-left: 10px;
} */

#app {
  width: 70%;
  height: 70%;
}

.space {
  width: 20%;
  height: 100%;
  display: inline-block;
  border: solid black;
  text-align: center;
  font-size: 100px;
  line-height: 125px;
}

#reset {
  width: 200px;
  height: 50px;
}

.row {
  height: 33.33%;
  padding-left: 30%;
}

